<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sala de Juegos</a>
    </div>
</nav>

<div class="row" id="background">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card bg-light mb-3">
            <div class="card-body">
            <p>Maria Luana Jaimez - Legajo: 109801</p>
            <img src="assets/foto-alumno/MiFoto.PNG" alt="Luana Jaimez">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, temporibus? Ipsum iste dolore totam architecto unde. Id magnam culpa amet ea. Soluta atque ea explicabo commodi excepturi nostrum sint dolor.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum perspiciatis ab, amet magnam sed expedita? Sequi veritatis doloribus aspernatur aliquid quam? Aut totam adipisci ratione, aliquid eligendi ipsam similique enim?</p>
            </div>
        </div>
    </div>
</div>