<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sala de Juegos</a>
    </div>
</nav>

<div class="row" id="background">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card bg-light mb-3">
            <div class="card-body">
            <p>Maria Luana Jaimez - Legajo: 109801</p>
            <img class="img-thumbnail img-fluid" src="assets/foto-alumno/MiFoto.PNG" alt="Luana Jaimez">
            <hr>
            <h2 class="card-title">El juego de la viborita</h2>
            <p class="card-text" >Es un juego donde manejamos una serpiente y la misma debera ir comiendo los items que aparecen en el tablero para poder sumar puntos. <br>
                Las unicas reglas son: <br>
                - La serpiente no puede chocar contra las paredes <br>
                - La serpiente no puede comerse a si misma <br>
                Cómo jugar: <br>
                Para mover la serpiente utilice las fechas del teclado, hasta que no presione alguna de las feclas del teclado no empezará el juego <br>
            </p>
            </div>
        </div>
    </div>
</div>